# This is Git's per-user configuration file.
[alias]
    last = log -1 HEAD
[user]
    name = Rustam Iuldashev
    email = rustam.iuldashev@protonmail.com
[push]
    default = simple
[core]
    editor = vim
[help]
    autocorrect = 1
