window {
    /* margin: 5px;
    border: 2px solid red;
    background-color: #737373;
    border-radius: 9px;
    */
    background-color: rgba(56, 60, 74, 0.95);
    opacity: 0.84;
}

#input {
    /* margin: 5px;
    border: 2px solid blue;
    */
    margin-top: 300px;
    margin-left: 480px;
    margin-right: 480px;
    background-color: transparent;
    color: #D3DAE3;
    font-family: NotoSans;
    font-size: 20px;
}

#inner-box {
    /* margin: 5px;
    background-color: #ffffff;
    border: 1px solid yellow;
    */
}

#outer-box {
    /* margin: 5px;
    border: 2px solid green;
    background-color: green;
    */
}

#scroll {
    /* margin: 5px;
    border: 2px solid orange;
    background-color: orange;
    */
    padding-left: 480px;
    padding-right: 480px;
}

#text {
    /* margin: 5px;
    border: 2px solid cyan;
    background-color: transparent;
    text-decoration: underline;
    margin-right: 480px;
    */
    color: #D3DAE3;
    font-family: NotoSans;
    font-size: 24px;
    margin-left: 8px;
}

#img {
    /*
    margin-right: 5px;
    margin-left: 5px;
     */
    margin-left: 8px;
}

#entry {
    /*
    background-color: rgb(64, 132, 214);
    */
}
