[Desktop Entry]
Type=Application
TryExec=/home/keepclean/bin/alacritty-time-wrapper
Exec=/home/keepclean/bin/alacritty-time-wrapper
Icon=com.alacritty.Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/keepclean/bin/alacritty-time-wrapper
