[Desktop Entry]
Version=1.0
Name=Firefox Private
GenericName=Web Browser
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/bin/firefox --private-window %u
Icon=ff-nightly128.png
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;
StartupNotify=true
StartupWMClass=Firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
